body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h3 {
    color: #444;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li, ul li p {
    background-color: #fff;
     border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}