a {
  text-decoration: none;
}

a.bsd-navlink1 {
    font-weight: bold;
    color: #ffcc00; /* Örneğin, sarı renk */
}

.bsd-vurgulu {
  background-color: black;
  color: red;
  font-weight: bold;
}

footer ul li  {
  border: 5px solid #fff;
  border-radius: 20px;
  background-color: grey;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid yellow;
border-color:red ;
}
