/* styles.css */

/* Genel stiller */
body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    max-width: 80%;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #0066ff; /* Başlık metnini mavi renge ayarlar */
}

.welcome-text {
    font-size: 24px;
    font-weight: bold;
    color: #ff6600; /* Hoş geldiniz metnini turuncu renge ayarlar */
}

/* Linkler */
nav a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    opacity: 0;
    animation: fadeInNav 1s forwards 2s;
}

@keyframes fadeInNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Yatay çizgiler */
nav hr {
    border: none;
    height: 3px; /* Kalınlık */
    background-color: #0066ff; /* Renk */
    width: 100%; /* Uzunluk */
    margin: 10px 0; /* Boşluk */
}

/* İkonlar */
nav a i {
    margin-right: 10px;
    font-size: 20px;
}

/* Metinler */
nav a span {
    font-weight: bold;
}

/* Hover etkisi */
nav a:hover {
    color: #00cc66; /* Mouse hover olduğunda bağlantı metnini yeşil renge ayarlar */
}

/* Bağlantı renkleri */
nav a:nth-of-type(1) {
    color: #ff0000; /* İlk bağlantıyı kırmızı renge ayarlar */
}

nav a:nth-of-type(2) {
    color: #00ff00; /* İkinci bağlantıyı yeşil renge ayarlar */
}

nav a:nth-of-type(3) {
    color: orange; /* Üçüncü bağlantıyı mavi renge ayarlar */
}

nav a:nth-of-type(4) {
    color: #ff00ff; /* Dördüncü bağlantıyı pembe renge ayarlar */
}

nav a:nth-of-type(5) {
    color: #ffff00; /* Beşinci bağlantıyı sarı renge ayarlar */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Responsive tasarım */
@media screen and (max-width: 600px) {
    body, html {
        overflow-x: hidden;
        overflow-y: auto; /* Dikey kaydırmayı sabit yap */
    }
    .container {
        padding: 10px;
        overflow: hidden; /* Yatay kaydırmayı kaldır */
    }
    .message {
        max-width: 90%;
    }
    .message h1 {
        font-size: 24px;
    }
    .welcome-text {
        font-size: 16px;
    }
    nav a {
        font-size: 14px;
    }
/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    
    bottom: 0;
    left: 0;
    width: 100%;
}

footer br {
    display: block;
    content: "";
    margin: 1rem 0;
}
}