body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}
.container {
    background-color: #fff;
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
pre {
    position: relative;
    background-color: #fdf6e3;
    border: 1px solid #ccc;
    padding: 10px 20px;
    overflow-x: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
code {
    flex-grow: 1;
    font-family: "Courier New", monospace;
}