body {
font-family: Arial, sans-serif;
padding: 20px;
background-color: black;
color: grey;
}

#checkboxes {
max-width: 600px;
margin: auto;
padding: 20px;
background-color: grey;
color: white;
border-radius: 15px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
margin-right: 10px;
}

label {
display: block;
margin-bottom: 12px;
padding: 8px;
background-color:#f3f3 ;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
color:black;
}

label:hover {
background-color: #f3f3;
}
/* Mevcut stil kurallarınızın devamına ekleyin */
span {
margin-left: 10px;
font-size: 0.85em;
color: #333;
}

a {
color: #00f;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid yellow;
border-color:red ;
}

ol {
  list-style-type: none; /* Numaralandırma işaretlerini kaldır */
  counter-reset: my-counter; /* Sayaçıyı sıfırla */
}

ol li::before {
  content: counter(my-counter); /* Sayacın değerini göster */
  color: #333; /* Sayı rengini ayarla */
  margin-right: 0.5em; /* Sayı ile metin arasındaki boşluğu ayarla */
  counter-increment: my-counter; /* Sayacı artır */
}

.heading {
    background-color: grey;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}

ul {
  list-style: none;
}