body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000; /* Black background */
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h3 {
    color: #444;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

p, ul li, ul li h4, ul li p {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 25px;
    background-color: grey;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid;
    border-color: red;
}

.highlight {
    color: blue;
    font-weight: bold;
}

.suffix {
    font-style: italic;
}

.sub-nav {
  display: none;
}

code {
  background-color: orange;
  padding: 2px 5px;
  border-radius: 4px;
}

footer ul li  {
  border: 5px solid #fff;
  border-radius: 20px;
  background-color: grey;
}

.copy-btn {
  color: red;
  background-color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a span  {
    font-weight: bold;
    color: #ffcc00; /* Örneğin, sarı renk */
}

.aciklama {
  color: red;
  font-weight: bold;
  background-color: black;
}